<a href="https://colab.research.google.com/github/danmaelk8ng/SISTEMASDEINFO/blob/main/Taller10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Taller 12 - Operaciones con Pandas
<h2>Daniel Felipe Mart铆nez Alzate</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" width="50%" style="text-align:center">

---

In [ ]:
# Vamos a crear el DataFrame a partir de los datos de los municipios de Colombia
import pandas as pd
import math

muns = pd.read_csv("https://raw.githubusercontent.com/BrayanTorres2/Programacion-Orientada-Por-Objetos/main/municipios.csv", index_col=0)
muns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1122 entries, 404 to 103
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre           1122 non-null   object
 1   poblaci贸nUrbana  1122 non-null   int64
 2   poblaci贸nRural   1122 non-null   int64
 3   departamento     1122 non-null   object
 4   esCapital        1122 non-null   int64
dtypes: int64(3), object(2)
memory usage: 52.6+ KB

In [ ]:
# Presentar la informaci贸n de los primeros 5 municipios del dataframe
muns.head(5)
#muns.iloc[1:9]

,nombre,poblaci贸nUrbana,poblaci贸nRural,departamento,esCapital
c贸digo,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,brego,17287,21076,Norte de Santander,0
1090,Abriaqu铆,738,1337,Antioquia,0
89,Acac铆as,60918,11130,Meta,0
705,Acand铆,5259,4246,Choc贸,0

In [ ]:
# Presente la estad铆stica descriptiva de la informaci贸n del dataframe
muns.describe()

       poblaci贸nUrbana  poblaci贸nRural    esCapital
count     1.122000e+03     1122.000000  1122.000000
mean      3.363703e+04    10198.901961     0.028520
std       2.715733e+05    11719.567160     0.166529
min       0.000000e+00      182.000000     0.000000
25%       1.895500e+03     3697.250000     0.000000
50%       4.995000e+03     6738.000000     0.000000
75%       1.306500e+04    12722.000000     0.000000
max       8.063991e+06   173143.000000     1.000000

In [ ]:
# Hallar la cantidad de municipios en el DataFrame
num_municipios =len(muns)

assert num_municipios == 1122

print("Cantidad de municipios =", num_municipios)

Cantidad de municipios = 1122

In [ ]:
# Determinar el promedio de la poblaci贸n rural de todos los municipios del pa铆s
prom = muns.poblaci贸nRural.mean()

assert math.isclose(10198.901961, prom, rel_tol=1e-6)
print("Prueba superada ")

Prueba superada

In [ ]:
# Halle la cantidad total de municipio del departamento de Amazonas
n = len(muns[muns.departamento=="Amazonas"])


print(f"Hay {n} municipios en Amazonas")
assert n == 11
print("Prueba superada ")

Hay 11 municipios en Amazonas
Prueba superada

In [ ]:
# Escriba una funci贸n que reciba el nombre de un departamento y que retorne cu谩ntos municipios hay 
# en el departamento con ese nombre.
def municipios_departamento(muns: pd.DataFrame, nombre: str) -> int:
    n = len(muns[muns.departamento== nombre])
    return n

# Pruebas de la funci贸n anterior    
assert municipios_departamento(muns, "Cundinamarca") == 117
assert municipios_departamento(muns, "Boyac谩") == 123
assert municipios_departamento(muns, "Vichada") == 4
print("Prueba superada ")

Prueba superada

In [ ]:
# Escriba una expresi贸n que permita encontrar los nombres de los municipios que tienen 
# menos de 500 habitantes en la poblaci贸n rural
m = muns[muns.poblaci贸nRural<500].nombre

# Prueba
assert m.sort_values().to_list() == ['La Guadalupe', 'Santa Luc铆a', 'Soplaviento', 'Suan']
print("Prueba superada ")

Prueba superada

In [ ]:
# Cual es la suma total de la poblaci贸n urbana de todos los municipios
pob_urb = muns.poblaci贸nUrbana.sum()

# Prueba
assert pob_urb == 37_740_751
print("Prueba superada ")

Prueba superada

In [ ]:
# Hallar la suma de la poblaci贸n urbana de los municipios de los departamentos
# del eje cafetero: Caldas, Quindio o Risaralda

caldas=muns[(muns.departamento=="Caldas")].poblaci贸nUrbana.sum()
quindio= muns[(muns.departamento=="Quind铆o")].poblaci贸nUrbana.sum()
risaralda= muns[(muns.departamento=="Risaralda")].poblaci贸nUrbana.sum()
pob_eje_cafetero = caldas+quindio+risaralda
# Prueba
#Tomando Quind铆o
assert pob_eje_cafetero == 1972330
print("Prueba superada ")
#Correcion no se est谩 tomando quind铆o pues falta la tilde
#assert pob_eje_cafetero == 1_471_055
#print("Prueba superada ")

Prueba superada

In [ ]:
# Encontrar el nombre del municipio que es la capital (esCapital == 1) del departamento de Casanare
muns[(muns.departamento=="Casanare")&(muns.esCapital==1)].nombre

c贸digo
41    Yopal
Name: nombre, dtype: object

In [ ]:
# Encontrar cuantos municipios tienen una poblaci贸n urbana inferior al promedio
# de la poblaci贸n urbama de todo el pais
prom_poblacion_urbana =muns.poblaci贸nUrbana.mean()
cant_muns_pobl_inf_prom = muns[(muns.poblaci贸nUrbana < prom_poblacion_urbana)].count().nombre
# Prueba
assert cant_muns_pobl_inf_prom == 998
print("Prueba superada ")

Prueba superada

In [ ]:
# Presentar el nombre y problaci贸n urbana de los municipios cuya poblaci贸n urbana est茅 entre el mill贸n y los tres millones
# de habitantes. 
muns[(muns.poblaci贸nUrbana<3000000)&(muns.poblaci贸nUrbana>1000000)]

,nombre,poblaci贸nUrbana,poblaci贸nRural,departamento,esCapital
c贸digo,,,,,
4,Barranquilla,1224374,4247,Atl谩ntico,1
3,Cali,2383392,36621,Valle del Cauca,1
2,Medell铆n,2479990,28462,Antioquia,1

In [ ]:
# Presentar toda la informaci贸n de aquellos municipios donde la poblaci贸n rural supere a la poblaci贸n urbana
muns[(muns.poblaci贸nRural > muns.poblaci贸nUrbana)]

,nombre,poblaci贸nUrbana,poblaci贸nRural,departamento,esCapital
c贸digo,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,brego,17287,21076,Norte de Santander,0
1090,Abriaqu铆,738,1337,Antioquia,0
215,Acevedo,6515,27098,Huila,0
323,Ach铆,4193,19258,Bol铆var,0
...,...,...,...,...,...
744,Zapay谩n,3649,5192,Magdalena,0
240,Zaragoza,14137,16992,Antioquia,0
971,Zetaquira,1057,3432,Boyac谩,0
895,Zipac贸n,2119,3512,Cundinamarca,0
103,Zona Bananera,5063,56309,Magdalena,0

In [ ]:
# Cuantas capitales hay en el dataframe
capitales=len(muns[muns.esCapital==1])
capitales

32

In [ ]:
# Determinar cu谩ntos capitales tiene una poblaci贸n inferior a los 100 mil habitantes
muns[(muns.esCapital==1)&((muns.poblaci贸nRural + muns.poblaci贸nUrbana)<1000000)].nombre.count()

27