<a href="https://colab.research.google.com/github/danmaelk8ng/SISTEMASDEINFO/blob/main/Taller10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Taller 12 - Operaciones con Pandas
<h2>Daniel Felipe Martínez Alzate</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" width="50%" style="text-align:center">

---

In [ ]:
# Vamos a crear el DataFrame a partir de los datos de los municipios de Colombia
import pandas as pd
import math

muns = pd.read_csv("https://raw.githubusercontent.com/BrayanTorres2/Programacion-Orientada-Por-Objetos/main/municipios.csv", index_col=0)
muns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1122 entries, 404 to 103
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre           1122 non-null   object
 1   poblaciónUrbana  1122 non-null   int64
 2   poblaciónRural   1122 non-null   int64
 3   departamento     1122 non-null   object
 4   esCapital        1122 non-null   int64
dtypes: int64(3), object(2)
memory usage: 52.6+ KB

In [ ]:
# Presentar la información de los primeros 5 municipios del dataframe
muns.head(5)
#muns.iloc[1:9]

,nombre,poblaciónUrbana,poblaciónRural,departamento,esCapital
código,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,Ábrego,17287,21076,Norte de Santander,0
1090,Abriaquí,738,1337,Antioquia,0
89,Acacías,60918,11130,Meta,0
705,Acandí,5259,4246,Chocó,0

In [ ]:
# Presente la estadística descriptiva de la información del dataframe
muns.describe()

       poblaciónUrbana  poblaciónRural    esCapital
count     1.122000e+03     1122.000000  1122.000000
mean      3.363703e+04    10198.901961     0.028520
std       2.715733e+05    11719.567160     0.166529
min       0.000000e+00      182.000000     0.000000
25%       1.895500e+03     3697.250000     0.000000
50%       4.995000e+03     6738.000000     0.000000
75%       1.306500e+04    12722.000000     0.000000
max       8.063991e+06   173143.000000     1.000000

In [ ]:
# Hallar la cantidad de municipios en el DataFrame
num_municipios =len(muns)

assert num_municipios == 1122

print("Cantidad de municipios =", num_municipios)

Cantidad de municipios = 1122

In [ ]:
# Determinar el promedio de la población rural de todos los municipios del país
prom = muns.poblaciónRural.mean()

assert math.isclose(10198.901961, prom, rel_tol=1e-6)
print("Prueba superada 💪🏽")

Prueba superada 💪🏽

In [ ]:
# Halle la cantidad total de municipio del departamento de Amazonas
n = len(muns[muns.departamento=="Amazonas"])


print(f"Hay {n} municipios en Amazonas")
assert n == 11
print("Prueba superada 💪🏽")

Hay 11 municipios en Amazonas
Prueba superada 💪🏽

In [ ]:
# Escriba una función que reciba el nombre de un departamento y que retorne cuántos municipios hay 
# en el departamento con ese nombre.
def municipios_departamento(muns: pd.DataFrame, nombre: str) -> int:
    n = len(muns[muns.departamento== nombre])
    return n

# Pruebas de la función anterior    
assert municipios_departamento(muns, "Cundinamarca") == 117
assert municipios_departamento(muns, "Boyacá") == 123
assert municipios_departamento(muns, "Vichada") == 4
print("Prueba superada 💪🏽")

Prueba superada 💪🏽

In [ ]:
# Escriba una expresión que permita encontrar los nombres de los municipios que tienen 
# menos de 500 habitantes en la población rural
m = muns[muns.poblaciónRural<500].nombre

# Prueba
assert m.sort_values().to_list() == ['La Guadalupe', 'Santa Lucía', 'Soplaviento', 'Suan']
print("Prueba superada 💪🏽")

Prueba superada 💪🏽

In [ ]:
# Cual es la suma total de la población urbana de todos los municipios
pob_urb = muns.poblaciónUrbana.sum()

# Prueba
assert pob_urb == 37_740_751
print("Prueba superada 💪🏽")

Prueba superada 💪🏽

In [ ]:
# Hallar la suma de la población urbana de los municipios de los departamentos
# del eje cafetero: Caldas, Quindio o Risaralda

caldas=muns[(muns.departamento=="Caldas")].poblaciónUrbana.sum()
quindio= muns[(muns.departamento=="Quindío")].poblaciónUrbana.sum()
risaralda= muns[(muns.departamento=="Risaralda")].poblaciónUrbana.sum()
pob_eje_cafetero = caldas+quindio+risaralda
# Prueba
#Tomando Quindío
assert pob_eje_cafetero == 1972330
print("Prueba superada 💪🏽")
#Correcion no se está tomando quindío pues falta la tilde
#assert pob_eje_cafetero == 1_471_055
#print("Prueba superada 💪🏽")

Prueba superada 💪🏽

In [ ]:
# Encontrar el nombre del municipio que es la capital (esCapital == 1) del departamento de Casanare
muns[(muns.departamento=="Casanare")&(muns.esCapital==1)].nombre

código
41    Yopal
Name: nombre, dtype: object

In [ ]:
# Encontrar cuantos municipios tienen una población urbana inferior al promedio
# de la población urbama de todo el pais
prom_poblacion_urbana =muns.poblaciónUrbana.mean()
cant_muns_pobl_inf_prom = muns[(muns.poblaciónUrbana < prom_poblacion_urbana)].count().nombre
# Prueba
assert cant_muns_pobl_inf_prom == 998
print("Prueba superada 💪🏽")

Prueba superada 💪🏽

In [ ]:
# Presentar el nombre y problación urbana de los municipios cuya población urbana esté entre el millón y los tres millones
# de habitantes. 
muns[(muns.poblaciónUrbana<3000000)&(muns.poblaciónUrbana>1000000)]

,nombre,poblaciónUrbana,poblaciónRural,departamento,esCapital
código,,,,,
4,Barranquilla,1224374,4247,Atlántico,1
3,Cali,2383392,36621,Valle del Cauca,1
2,Medellín,2479990,28462,Antioquia,1

In [ ]:
# Presentar toda la información de aquellos municipios donde la población rural supere a la población urbana
muns[(muns.poblaciónRural > muns.poblaciónUrbana)]

,nombre,poblaciónUrbana,poblaciónRural,departamento,esCapital
código,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,Ábrego,17287,21076,Norte de Santander,0
1090,Abriaquí,738,1337,Antioquia,0
215,Acevedo,6515,27098,Huila,0
323,Achí,4193,19258,Bolívar,0
...,...,...,...,...,...
744,Zapayán,3649,5192,Magdalena,0
240,Zaragoza,14137,16992,Antioquia,0
971,Zetaquira,1057,3432,Boyacá,0
895,Zipacón,2119,3512,Cundinamarca,0
103,Zona Bananera,5063,56309,Magdalena,0

In [ ]:
# Cuantas capitales hay en el dataframe
capitales=len(muns[muns.esCapital==1])
capitales

32

In [ ]:
# Determinar cuántos capitales tiene una población inferior a los 100 mil habitantes
muns[(muns.esCapital==1)&((muns.poblaciónRural + muns.poblaciónUrbana)<1000000)].nombre.count()

27